body {
  font-family: "Roboto",sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #6C7293 !important;
  background-color: #000 !important;
  -webkit-text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

